region                = "{{ region_name }}"
tenancy_ocid          = "{{ tenancy_id }}"
compartment_ocid      = "{{ compartment_id }}"
ssh_public_key        = "{{{ ssh_public_key }}}"
ssh_private_key_path  = "{{{ ssh_private_key_path }}}"
project_name          = "{{{ project_name }}}"
instance_shape        = "{{{ instance_shape }}}"
