CREATE USER HOTEL IDENTIFIED BY "{{db_admin_password}}";
GRANT UNLIMITED TABLESPACE TO HOTEL;
GRANT CONNECT, RESOURCE TO HOTEL;
GRANT CONNECT TO HOTEL WITH ADMIN OPTION;
GRANT OML_DEVELOPER TO HOTEL;

EXIT;