spring:
  application:
    name: vector
  profiles:
    active: production
  main:
    banner-mode: "off"
  datasource:
    url: jdbc:oracle:thin:@{{db_name}}_high?TNS_ADMIN=/home/opc/wallet
    username: HOTEL
    password: "{{ db_admin_password }}"
    driver-class-name: oracle.jdbc.OracleDriver
    type: oracle.ucp.jdbc.PoolDataSource
    oracleucp:
      connection-factory-class-name: oracle.jdbc.pool.OracleDataSource
      sql-for-validate-connection: SELECT * FROM dual
      connection-pool-name: connectionPoolName1
      initial-pool-size: 5
      min-pool-size: 5
      max-pool-size: 10
  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: none
  oracle:
    jdbc:
      fanEnabled: false