BEGIN
    DBMS_CLOUD.CREATE_CREDENTIAL(
        credential_name => 'OCI_OBJECT_STORAGE_VECTOR',
        username => '{{ os_credential_user }}',
        password => '{{ os_credential_token }}'
    );
END;
/

EXIT;