GRANT DB_DEVELOPER_ROLE TO HOTEL;

GRANT CREATE MINING MODEL TO HOTEL;

GRANT READ ON DIRECTORY DATA_PUMP_DIR TO HOTEL;

GRANT WRITE ON DIRECTORY DATA_PUMP_DIR TO HOTEL;

exec DBMS_VECTOR.DROP_ONNX_MODEL(model_name => 'doc_model', force => true);

EXIT;